<div class="post">
    <div class="header">
        <img src="res/img/avatar.png" alt="Author avatar" />
        <span><%= post.time_posted.toLocaleDateString('en-UK', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false}) %></span>
    </div>
    <% if (post.image_url) { %>
        <img src=<%= post.image_url %> alt="Post image" />
    <% } %>
    <p class="title"><%= post.title %></p>
    <p><%= post.text %></p>
    <div class="footer">
        <button v-on:click="likePost"><i class="fas fa-thumbs-up"></i><%= post.likes %></button>
    </div>
</div>