<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="res/css/message.css">
    <title><%= title %></title>
</head>

<body>
    <%- include partials/header %>
    <section class="content-container">
        <div class="message-container"><%= message %></div>
    </section>
    <%- include partials/footer %>
</body>

</html>