<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/res/css/posts.css">
    <script src="/res/js/post_client.js"></script>
    <title>Post | <%= post.title %></title>
</head>

<body>
    <%- include partials/header %>
    <section class="content-container">
        <%- include('partials/post.ejs', { post, link: false }) %>
    </section>
    <%- include partials/footer %>
</body>

</html>